In [1]:
# 1. Unique words in a sentence

# Take input from the user
sentence = input("Enter a sentence :")

# Split the sentence into words
words = sentence.split()

# Convert list to set to get unique words
unique_words = set(words)

# Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter a sentence :python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'is', 'python', 'and', 'easy'}

In [2]:
# 2. Highest Salary From Employee Data

# Dictionaries
employees = {"Ajay":65000, "Bhanu":85000, "Suresh":55000}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

# Print result
print("Highest_Salary :", highest_employee, '=', highest_salary )

Highest_Salary : Bhanu = 85000

In [6]:
# 3. Find Maximum and Minimum values

# List
numbers = [45, 83, 96, 12, 34]

# initialize max and min values
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for num in numbers:
 if num > maximum :
  maximum = num
 if num < minimum:
  minimum = num

# Print result
print("List :", numbers)
print("Maximum Value :", maximum)
print("Minimum Value :", minimum)

List : [45, 83, 96, 12, 34]
Maximum Value : 96
Minimum Value : 12

In [7]:
# 4.Count the products above the price threshold

# List of product prices
prices = [450, 1200, 1600, 950, 2000]

# Initialize count
count = 0

# Loop through the list
for price in prices:
  if price > 1000:
    count +=1      # Increase the count if the condition is true

# Print Result
print("Products above 1000 :", count)

Products above 1000 : 3

In [8]:
# 5. Calculate attence Percentage

# List of attendence
attendence = ["P", "P", "A", "P", "P"]

# Count total_days
total_days = len(attendence)

# Count no.of present days
present_count = 0
for days in attendence:
  if days == "P":
    present_count +=1     # Increase count if the condition is true

# Calculate percentage
percentage = (present_count / total_days) * 100

# Print Result
print("Attendence Percentage :", percentage)

Attendence Percentage : 80.0

In [9]:
# 6. Remove duplicate Phone Numbers

# List of Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert the list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Print result
print("Unique phone_numbers :", unique_numbers )

Unique phone_numbers : {9876543210, 9123456789}

In [10]:
# 7. Count Character Frequency

# String
text = "Python"

# Create empty dictionary
char_count = {}

# Loop through each character
for ch in text:
  if ch in char_count:
    char_count[ch] +=1
  else :
    char_count[ch] = 1

# Print result
print(char_count)

{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [11]:
# 8. Convert list to tuple

# List of numbers
numbers = [10, 20, 30, 40, 90]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Print result
print("Tuple :", numbers_tuple)

Tuple : (10, 20, 30, 40, 90)

In [12]:
# 9. Check if a key exits in a dictionary

# Dictionaries
employees = {"Pratik": 25000, "Siddhi": 40000, "Manoj": 65000}

# Key to check
key_name = "Siddhi"

# Check if key exists
if key_name in employees:
  print("Employee exists")
else:
  print("Employee doesn't exists")

Employee exists

In [13]:
# 10. Calculate Average Marks

# List of the marks
marks = [70, 75, 80, 40, 20]

# Calculate total marks
total = sum(marks)

# Count no.of subjects
count = len(marks)

# Calculate average
average = total/count

# Print result
print("Average Marks :", average)

Average Marks : 57.0